<%# layout('../shared/master') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 pt-2" style="font-size: 90%;">
        <h2 class="pt-2 pb-2">&nbsp;</h4>
        <ul class="list-group">
            <% model.models.forEach(function(x) {
            %>
                <li class="list-group-item">
                    <a href="/model/<%=x.model%>/schema.html"><%=x.model%></a>
                    </li>
            <%
            }) %>
        </ul>
        </div>
        <div class="col-lg-8 pt-2" style="font-size: 90%;">
        <h2 class="pt-2 pb-2"><%=model.name%></h2>
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Primary</th>
            <th>Expandable</th>
            </thead>
            <tbody>
                <% for (var i=0;i<model.attributes.length;i++) {
                    var x = model.attributes[i];
                %>
                <tr>
                    <td><%=x.property || x.name%></td>
                    <td><%=x.title%></td>
                    <td><%=x.description|| ''%></td>
                    <% if  (html.context.model(x.type)) { %>
                    <td><a href="/model/<%=x.type%>/schema.html"><%=x.type%></a></td>
                    <% } else { %>
                    <td><%=x.type%></td>
                    <% } %>
                    <td class="text-center"><%=x.primary || ''%></td>
                    <td class="text-center"><%=x.expandable || ''%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    </div>
    
    
    
</div>


